/* common */
h1,
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Han Zi";
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #f0efe6;
}

@font-face {
    font-family: "Han Zi";
    src: url("../fonts/hanzi.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mainpaper {
    max-width: 800px;
    margin: auto;

}

header {
    padding: 1em;
}

.hidden {
    display: none;
}

.cl-red {
    color: red;
}

/* ================================================ */
/* btn */
/* ================================================ */
.btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: none;
    border-right: none;
    background-color: none;
    font-size: 1.2rem;
    padding: 0.3rem;
}

/* ================================================ */
/* columns */
/* ================================================ */
.col-4 {
    display: inline-block;
    width: calc(33% - 10px);
}

.col-6 {
    display: inline-block;
    width: calc(50% - 10px);
}

.col-3 {
    display: inline-block;
    width: calc(25% - 10px);
}

.col-12 {
    display: inline-block;
    width: calc(100% - 10px);
}


/* ================================================ */
/* page 1 */
/* ================================================ */




.container {
    max-width: 80%;
    margin: 0 auto;
}

.slider__container {
    padding-left: 0;
    padding-right: 0;
}

.slider__items {
    counter-reset: slide;
}

.slider__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    counter-increment: slide;

    position: relative;
}

.slider__item img {
    display: inline-block;
    width: 40%;
    height: auto;
    margin: 0.5rem;
    border: 3px solid grey;
    border-radius: 6px;
    border-radius: calc(100% / 30 + 5px);
}

.slider__item img:hover {
    border: 3px solid black;
}

.slider__item img.active {
    border: 3px solid red;
}

/* ================================================ */
/* page 2 */
/* ================================================ */
#parts td {
    width: 5%;
    height: 1em;
    border: 1px solid black;
    text-align: center;
    font-family: "Arial Narrow";
}

table#parts {
    margin: auto;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.table-string-line {
    background-color: #f0e3a5;
}

.table-string-line-active {
    background-color: #d1f0a5;
}

/* ================================================ */
/* page 3 */
/* ================================================ */


#canvas {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    border: 1px solid black;
}