#parts td{
    width: 5%;
    height: 1em;
    border: 1px solid black;
    text-align: center;
    font-family: "Arial Narrow";
}

table#parts{
    margin: auto;
    width: 100%;
    max-width: 600px;
    margin: auto;
}


body{
    text-align: center;
    padding: auto;
}

.row-bg-pv{
    margin: 1em;
}
.row-bg-pv div{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}
.row-bg-pv .active{
    border: 1px solid red;
    background-color: #e8cb87;
}
.row-bg-pv img{
    width: 100%;
}
@font-face {
    font-family: "Han Zi"; 
    src: url("hanzi.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "Han Zi";
}
#canvas{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.modal-dialog{
    max-width: 600px;
}


.table-string-line{
    background-color: #f0e3a5;
}
.table-string-line-active{
    background-color: #d1f0a5;
}

.mainpaper{
    max-width: 800px;
    margin: auto;
    background-color: #f0efe6;
}
header{
    padding: 1em;
}